@font-face {
    font-family: 'iconFont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'),
         url('iconfont.woff2') format('woff2'),
         url('iconfont.woff') format('woff'),
         url('iconfont.ttf') format('truetype'),
         url('iconfont.svg#iconFont') format('svg');
    font-weight: normal;
    font-style: normal;

}

.my {
	font-family: 'iconFont';
	font-size: 37px;
	display: inline-block;
	font-style: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.my.my_a::before {
	content: 'a';
}

.my.my_b::before {
	content: 'b';
}

.my.my_c::before {
	content: 'c';
}