* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	font-family: "firasans-light", sans-serif;
	font-size: 18px;
	color: #646464;
	background-color: #f6f6f6;
	height: 100%;
	width: 100%;
}

a {
	font-family: "firasans-regular", sans-serif;
	font-size: 18px;
	color: #414141;
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.empty {
	height: 50px;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.fa {
	padding-right: 5px;
}

.clearfix {
	display: table;
	content: "";
	clear: both;
}