@font-face {
	font-family: "firasans-bold";
	src: url("../../fonts/firasans-bold/firasans-bold.eot");
	src: url("../../fonts/firasans-bold/firasans-bold.eot?#iefix")format("embedded-opentype"),
	url("../../fonts/firasans-bold/firasans-bold.woff") format("woff"),
	url("../../fonts/firasans-bold/firasans-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "firasans-light";
	src: url("../../fonts/firasans-light/firasans-light.eot");
	src: url("../../fonts/firasans-light/firasans-light.eot?#iefix")format("embedded-opentype"),
	url("../../fonts/firasans-light/firasans-light.woff") format("woff"),
	url("../../fonts/firasans-light/firasans-light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "firasans-medium";
	src: url("../../fonts/firasans-medium/firasans-medium.eot");
	src: url("../../fonts/firasans-medium/firasans-medium.eot?#iefix")format("embedded-opentype"),
	url("../../fonts/firasans-medium/firasans-medium.woff") format("woff"),
	url("../../fonts/firasans-medium/firasans-medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "firasans-regular";
	src: url("../../fonts/firasans-regular/firasans-regular.eot");
	src: url("../../fonts/firasans-regular/firasans-regular.eot?#iefix")format("embedded-opentype"),
	url("../../fonts/firasans-regular/firasans-regular.woff") format("woff"),
	url("../../fonts/firasans-regular/firasans-regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "opensans-semibold";
	src: url("../../fonts/opensans-semibold/opensans-semibold.eot");
	src: url("../../fonts/opensans-semibold/opensans-semibold.eot?#iefix")format("embedded-opentype"),
	url("../../fonts/opensans-semibold/opensans-semibold.woff") format("woff"),
	url("../../fonts/opensans-semibold/opensans-semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}