.content {
  padding-bottom: 50px;
}

.about, .career {
  width: 75%;
  float: right;
  margin-top: 5px;
}

.about_left, .career_left {
  float: left;
  width: 45%;
  text-align: center;
}

.about_right, .career_right {
  width: 54%;
  float: right;
}

.about_photo {
  display: inline-block;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  overflow: hidden;
}

.about_photo-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.headline {
  font-family: "firasans-medium", sans-serif;
  font-size: 35px;
  color: #414141;
  line-height: 1;
  margin-bottom: 15px;
}

.about_description {
  height: 335px;
  overflow: auto;
  margin-bottom: 45px;
}

.about_description p {
  margin-bottom: 10px;
}

.btn_wrapper {
  text-align: right;
}

.download_btn {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #e85f61;
  padding: 10px 12px;
  border: 2px solid #e85f61;
  border-radius: 50px;
}

.download_btn:hover {
  background-color: #e85f61;
  color: #fff;
}

/*career*/
.career_photo {
  height: 220px;
  width: 220px;
  overflow: hidden;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.career_photo-img {
  height: 100%;
  width: 100%;
}

.career_item {
  width: 380px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.career_item_head {
  font-family: "firasans-regular", sans-serif;
  font-size: 21px;
  color: #5a5a5a;
}

.career_item_desc {
  color: #727272;
}

.career_item:hover {
  background-color: #33c1e3;
  color: #fff;
}

.career_item:hover .career_item_head {
  color: #fff;
}
