.footer {
  height: 50px;
  background-color: #414141;
  color: #9c9c9c;
  font-size: 14px;
  margin-top: -50px;
  position: relative;
}

.footer_left, .footer_right {
  width: 50%;
}

.footer_left {
  float: left;
  padding-top: 15px;
}

.footer_right {
  float: right;
  text-align: right;
  padding-top: 4px;
}

.soc_icon {
  display: inline-block;
}

.soc_icon-link {
  color: #fff;
}

.my {
  color: #9c9c9c;
}

.my_b:hover {
  color: #4463a6;
}

.my_c:hover {
  color: #5d99c3;
}

.my_a:hover {
  color: #6ac4d9;
}
